/*
Styling used on the majority of page

Resets browsers default styling*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Sets variables*/
:root {
    --main: #db2b53;
    --accent: #003B4D;
    --text: #828282;
    --background: #f8f8f8;
}

body {
    overflow-x: hidden;
}

/*The margins on either side of the page*/
.margins {
    margin-left: 100px;
    margin-right: 100px;
}

/*---------------------Banner Designs-------------------------*/

/*Banner design 1*/
.OvalBanner {
    position: relative;
    background-color: var(--main);
    width: 100%;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    margin-top: 180px;
}
.OvalBanner img {
    height: 100%;
    width: auto;
    margin-left: 42%;
}
.OvalBanner h1 {
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    font-size: 43px;
    margin-top: 50px;
    line-height: 48px;
    color: white;
}
.OvalBanner h1 span {
    color: var(--accent);
}
.OvalBanner h2 {
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    font-size: 37px;
    margin-top: 170px;
    line-height: 40px;
    color: #002b2a;
}
.OvalBanner p {
    color: white;
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.OvalBanner p a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.OvalBanner p a:hover{
    text-decoration: underline;
}
.OvalBannerText {
    margin-left: 50px;
    max-width: 400px;
    position: absolute;
    top: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*Banner Design 2*/
.homeBanner {
    position: relative;
    background-image: url("../Media/General/banner-1-work-scaled.jpg");
    width: 100%;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    margin-top: 180px;
}
.homeBanner h1 {
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    font-size: 43px;
    margin-top: 150px;
    line-height: 48px;
    color: var(--accent);
}
.homeBanner h1 span {
    color: var(--main);
}
.homeBanner p {
    color: var(--text);
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.homeBannerText {
    margin-left: 40px;
    max-width: 500px;
    position: absolute;
    top: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*---------------------Button Designs-------------------------*/

/*btn - transparrent background with an outline*/
.btn-outline {
    text-decoration: none;
    text-align: center;
    color: var(--main);
    font-family: "Bliss Pro";
    font-size: 12px;
    letter-spacing: 2px;
    border: 2px solid var(--main);
    padding: 18px 34px;
    font-weight: 900;
    border-radius: 60px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-outline:hover {
    background-color: white;
}

/*btn - solid background white text*/
.btn-solid {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: "Bliss Pro";
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 32px;
    font-weight: 900;
    border-radius: 60px;
    background-color: var(--main);
    cursor: pointer;
    transition: 0.3s;
}
.btn-solid:hover {
    background-color: #bf284b;
}

/*---------------------Carousel Designs-------------------------*/
.Carousel {
    margin-left: -100px;
    margin-right: -100px;
    padding: 100px 100px;
    width: 100%;
    height: max-content;
    margin-top: 50px;
    background-color: var(--background);
}
.Carousel h3 {
    text-align: center;
    color: var(--main);
    font-size: 18px;
    line-height: 22px;
    font-family: "Obvia Narrow", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
.Carousel h2 {
    text-align: center;
    color: var(--accent);
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 40px;
}
.Carousel h4 {
    font-size: 22px;
    line-height: 28px;
    color: var(--accent);
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Carousel p {
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--text);
}
.Carousel .blocks, .Stats .blocks {
    display: flex;
    width: 100%;
    height: auto;

}
.Carousel .block, .Stats .block {
    flex: 0 0 33.33%;
    text-align: center;
}
.controls {
    text-align: center;
    margin-top: 10px;
}
.Carousel .block img {
    width: 250px;
    height: auto;
}
.CaraText {
    width: 75%;
    margin-left: 12.5%;
}
.Carousel a {
    position: relative;
    top: 40px;
}


.Feedback {
    margin-left: -100px;
    margin-right: -100px;
    padding: 100px 100px;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    background-color: var(--background);
}
.Feedback h2, .Feedback h3 {
    text-align: center;
}
.Feedback h3 {
    color: var(--main);
    line-height: 30px;
    font-size: 20px;
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 500;
}
.Feedback h2 {
    color: var(--accent);
    line-height: 38px;
    font-size: 50px;
    margin-bottom: 100px;
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
}
.Feedback .block {
    flex: 0 0 calc(33.33% - 20px);
    margin: 0 10px;
    background-color: white;
    border-radius: 25px;
}
.Feedback .blocks {
    display: flex;
    width: calc(100% - 40px);
    height: 500px;
}

.Feedback .block h4 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    color: var(--accent);
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
}
.Feedback .block h5 {
    margin-left: 10%;
    margin-right: 10%;
    color: var(--main);
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.Feedback .block p {
    margin-left: 10%;
    margin-right: 10%;
    color: var(--text);
    font-family: "Obvia Narrow", sans-serif;
    font-size: 16px;
    line-height: 25px;
}
.Feedback .block a {
    margin-left: 10%;
}
.Feedback .blocks .block img {
    width: 120px;
    height: auto;
    border: 4px solid var(--main);
    border-radius: 50%;
    margin-left: 10%;
    margin-top: -50px;
    background-color: white;
}

/*---------------------FAQ & Locations dropdowns Designs-------------------------*/
.dropdown {
    position: relative;
    display: inline-block;
    background-color: white;
    width: 70%;
    height: 100px;
    left: 15%;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px black;
    transition: all 0.3s;
}
.dropdown h5 {
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: var(--accent);
    margin-top: 32.5px;
    margin-left: 5%;
}
.dropdown-toggle {
    position: absolute;
    background-color: none;
    color: var(--main);
    border: none;
    cursor: pointer;
    margin-top: -32.5px;
    left: 85%;
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    vertical-align: middle;
}
.dropdown-toggle i {
    vertical-align: bottom;
    font-size: 26px;
    line-height: 30px;
    margin-left: 4px;
    transition: all 0.3s;
}

.dropdownContent {
    position: absolute;
    width: 90%;
    z-index: 1;
    margin-top: 33.5px;
    margin-left: 5%;
    border-top: solid 1px var(--text);
    max-height: 0;
    overflow: hidden;
}
.dropdownContent p {
    margin-top: 40px;
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--text);
}
.dropdownContent p span {
color: var(--main);
}
.FAQ {
    background-color: var(--background);
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: auto;
}

/*---------------------Text Blocks & image Designs-------------------------*/

/*Title and text block*/
.Title-TextBlock {
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 110px;
}
.Title-TextBlock h2 {
    flex: 1;
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    font-size: 37px;
    line-height: 42px;
    color: var(--accent);
    max-width: 35%;
}
.Title-TextBlock h2 span {
    color: var(--main);
}
.Title-TextBlock p {
    flex: 1;
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--text);
    margin-left: 20px;
}

/*Image left and Text right block*/
.Image-TextBlock {
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.Image-TextBlock .text {
    max-width: 50%;
    max-height: auto;
    margin-bottom: 0;
}
.Image-TextBlock img {
    flex: 1;
    display: block;
    margin-top: 0;
    margin-bottom: auto;
    max-width: 50%;
    height: auto;
}
.Image-TextBlock .text p {
    flex: 1;
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--text);
}
.Image-TextBlock .text h2 {
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    font-size: 37px;
    line-height: 42px;
    color: var(--accent);
}
.Image-TextBlock .text h2 span {
    color: var(--main);
}
#img-left {
    padding-right: 5%;
}
#img-right {
    padding-left: 5%;
}

/*---------------------Other Designs-------------------------*/

/*Home Page stats counter*/
.Stats {
    width: 100%;
    height: max-content;
    margin-top: 100px;
    text-align: center;
}
.Stats h2 {
    color: var(--accent);
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 40px;
}
.Stats h3 {
    color: var(--main);
    font-size: 18px;
    line-height: 22px;
    font-family: "Obvia Narrow", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
.Stats .blocks {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 75px;
}
.Stats .block {
    border-top: 8px solid lightgray;
    border-bottom: 8px solid lightgray;
    max-width: 20%;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.Stats h4 {
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 900;
    font-size: 65px;
    color: var(--accent);
    margin-top: 20px;
    margin-bottom: 20px;
}
.Stats img {
    width: 150px;
    height: auto;
}
.Stats p {
    color: var(--text);
    font-family: "Obvia Narrow", sans-serif;
    letter-spacing: 1px;
    margin-top: 30px;
}

/*BIT Group Logos*/
.BITgroup {
    width: 100%;
    height: auto;
    padding-bottom: 10%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}


#packagesTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#packagesTable td, #packagesTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
#packagesTable tr:nth-child(even){background-color: #f2f2f2;}
#packagesTable th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: var(--main);
color: white;
}
#packagesTable td i {
    width: 100%;
    text-align: center;
}
.fa-check {
    color: green;
}
.fa-xmark {
    color: red;
}
.packageOptions h3 {
    text-align: center;
    color: var(--main);
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 75px;
}
.packageOptions h2 {
    text-align: center;
    color: var(--accent);
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    font-size: 37px;
    line-height: 42px;
    margin-bottom: 50px;
}