/*Unique CSS - used whe CSS is not already in Global*/

/*Contact Us Page CSS*/
.Contacts-img {
    width: 100%;
    height: auto;
}
.image-container {
    background-image: url("../Media/General/building.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    margin-bottom: 0;
}
.Locations {
    width: 100%;
    height: auto;
    overflow-y: visible;
}
.Locations h3 {
    font-family: "Obvia Narrow", sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    border-bottom: 1px solid white;
    margin-right: 15%;
    text-align: right;
    color: white;
    margin-top: -700px;
}
.Locations h4 {
    font-weight: 300;
    font-size: 30px;
    font-family: "Obvia Narrow", sans-serif;
    margin-right: 15%;
    text-align: right;
    color: white;
    line-height: 45px;
    padding-bottom: 100px;
}